* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

div.hero {
  background-image: url(bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  min-height: auto;
  width: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

div.hero > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

button.hero {
  background-color: white;
  border-radius: 30px;
  box-shadow: 4px 2px 4px 2px rgba(128, 128, 128, 0.363);
  padding: 1rem 4rem;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

button.hero:hover {
  background: rgba(255, 255, 255, 0.479);
}

@media (max-width: 720px) {
  .hero {
    padding: 2rem;
  }
  .header,
  button.hero {
    padding: 0.6rem 2rem;
  }

  .logo {
    height: 5%;
    width: 40%;
  }
}

div.nothero {
  display: flex;
  gap: 3.5rem;
}

div.left1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin: 3.5rem 0;
}

div.left1 > h1,
p {
  text-align: left;
}

div.right1,
div.left1 {
  flex: 50%;
}

img {
  width: 100%;
}

button.pink {
  text-align: center;
  background-color: hsl(322, 100%, 66%);
  color: hsl(193, 100%, 96%);
  border-radius: 30px;
  width: 300px;
  border: none;
  padding: 16px 24px;
  cursor: pointer;
  margin-top: 1.5rem;
}

.pink:hover {
  background: hsla(322, 100%, 66%, 0.644);
}

.pink:active {
  background: hsla(322, 100%, 66%, 0.644);
}

@media (max-width: 970px) {
  .nothero {
    flex-direction: column;
  }

  .left1 {
    padding: 1rem;
    flex: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h1 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
  }

  h1 > p {
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
}

.body {
  margin: 10% auto;
}

.content {
  margin: 3% 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 0.089);
}

.rev {
  flex-direction: row-reverse;
}

.content .flex {
  flex: 40%;
  padding: 3rem;
}

.flex > h3 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.flex > p {
  line-height: 1.5;
}

.flex img {
  width: 100%;
}

@media (max-width: 790px) {
  .content {
    margin: 5% 7%;
    flex-direction: column-reverse;
  }

  .content .flex {
    flex: 100%;
    padding: 1rem;
    text-align: center;
  }

  .body {
    margin: 10% auto 40% auto;
  }
}

.float {
  box-sizing: border-box;
  border-radius: 8px;
  background: #fff;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 2rem;
  position: absolute;
  top: -5%;
  left: 25%;
  transform: translate(-50, -50);
}

.float .heading {
  width: auto;
  text-align: center;
}

.fbtn {
  margin: 0;
}

#footer {
  box-sizing: border-box;
  position: relative;
  margin-top: 25%;
  background: hsl(192, 100%, 9%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10rem;
}

.foot-item {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  text-align: left;
  margin-top: 2rem;
}

.footlogo {
  width: 60%;
  padding-bottom: 2.5rem;
}

.lf {
  width: 40%;
  color: #fff;
}

.lf span {
  display: block;
  margin: 0.5rem 0;
}

.lf i {
  margin-right: 5px;
}

.foot-item a {
  margin: 0.5rem 0;
  text-decoration: none;
  color: #fff;
}

.bloc {
  display: inline-block;
  color: #fff;
  margin-top: 2rem;
}

.bloc i {
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid #fff;
}

@media (max-width: 880px) {
  #footer {
    flex-direction: column;
    padding-left: 2rem;
  }

  .foot-item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    text-align: left;
    padding: 1rem;
    margin-top: 2rem;
  }

  .lf {
    width: 100%;
    color: #fff;
  }

  .footlogo {
    width: 80%;
  }

  .float {
    background: #fff;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 2rem;
    position: absolute;
    top: -5%;
    left: 10%;
    transform: translate(-50, -50);
  }

  .float .heading {
    font-size: 2rem;
  }

  .bloc {
    padding: 1rem;
  }
}

@media (max-width: 660px) {
  .float {
    background: #fff;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 1rem;
    position: absolute;
    top: -5%;
    left: 10%;
    transform: translate(-50, -50);
  }

  .float .heading {
    font-size: 2rem;
  }

  .fbtn {
    margin: 0.5rem;
    padding: 1rem 3rem;
  }
}
